.details{
    margin: 5px;
    /* border: solid red 2px; */
}
.table1{
    width: 100%;
    text-align: center;
    /* border: solid gray 2px; */
    
}

.table2 {
    border: solid black 1px;
    width: 100%;
}
.table2 tr td{
    text-align: center;
    border: solid black 1px;
    width: 50%;
}